Options +FollowSymlinks
##################################### REWRITE RULES #########################################
RewriteEngine on

RewriteCond %{DOCUMENT_ROOT} !-f
RewriteRule ^(.*)(php|html|htm)$ index.php [QSA,L]
RewriteRule ^js/(.*)\.js$ assets/js/$1.js
RewriteRule ^styles/(.*)\.css$ assets/css/$1.css
RewriteRule ^images/(.*)\.(jpg|gif|png|ico|jpeg) assets/images/$1.$2